* {
	box-sizing: border-box;
}

body {
	background-color: rgba(12, 65, 49, 0);
	background-image: url('./../img/boxing-day-celebration-with-balloons.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;

	height: 100vh;
	color: #fff;
	font-family: 'Rubik', sans-serif;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;

	overflow: hidden;
}
/* Темный оверлей */
body::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.countdown-wrapper {
	z-index: 1;
	position: relative;
	display: flex;
	flex-direction: column;
}
.header {
	display: flex;
	padding-bottom: 120px;
}
.header__links {
	display: flex;
	gap: 40px;
	position: relative;
	font-size: 30px;
	z-index: 1;
}
.header__link {
	z-index: 1;
	color: #fff;
	text-decoration: none;
}
.header__link:hover {
	text-decoration: underline;
}
.title {
	font-size: 60px;
	margin: 0 0 20px;
}

.year {
	position: absolute;
	top: 180%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 200px;
	line-height: 1;
	z-index: -1;
	opacity: 0.2;
	display: none;
}

.countdown {
	display: none;
	align-items: center;
	justify-content: center;
	background: #fdd1ff21;
	backdrop-filter: blur(10px);
	border-radius: 25px;
	z-index: 0;
}

.time {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 30px;
}

.time h2 {
	margin: 0 0 10px;
	font-size: 48px;
}

.time small {
	font-size: 26px;
}

@media (max-width: 500px) {
	.title {
		font-size: 35px;
	}

	.year {
		display: none;
	}

	.countdown {
		align-items: center;
	}

	.time {
		margin: 10px;
	}

	.time h2 {
		font-size: 32px;
		margin: 0;
	}

	.time small {
		font-size: 16px;
	}
}
@media (max-width: 700px) {
	.header__links {
		display: block;
		gap: 50px;
		position: relative;
		font-size: 25px;
		z-index: 1;
	}
	.header__link {
		z-index: 1;
		border-radius: 10px;
		padding: 10px;
		color: #fff;
		text-decoration: none;
	}
	.header__link:hover {
		text-decoration: underline;
	}
}
/* Preloader */

.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ripple div {
	position: absolute;
	border: 4px solid #fff;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}
